@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* Tailwind automatically creates bg-primary, text-primary, border-primary, etc. */
  --color-primary: #ffffff;   /* Black */
  --color-accent: #feb23a; /* Gold */
  --font-main: 'Inter', sans-serif;
}

@layer base {
    /* Light Mode (default) */
  :root {
    --bg: #ffffff;
    --text: #111111;
    --accent: #feb23a;
    }
    
    /* Dark Mode */
    .dark {
    --bg: #111111;
    --text: #ffffff;
    --accent: #feb23a; 
    }


    *{
        @apply font-main text-primary;
    }

    body{
        @apply bg-black
    }

    h1 {
        @apply text-4xl font-bold p-1;
    }

    h2 {
        @apply text-3xl p-1;
    }

    h3 {
        @apply text-2xl p-1;
    }

    p {
        @apply italic p-1;
    }

    :link{
        @apply text-xl p-1;
    }

    button {
        @apply text-black bg-accent rounded hover:brightness-95 cursor-pointer p-1 m-1;
    }

    input, textarea {
        @apply border border-gray-300 rounded resize-none p-1 m-1;
    }



}
