@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

/* Design tokens */
@theme {
  --color-primary: #ffffff;
  --color-secondary: #a2a2a2;
  --color-accent: #feb23a;
  --color-background: #111111;
  --font-main: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply font-main text-primary bg-background;
  }

  h1 { @apply text-5xl font-bold; }
  h2 { @apply text-4xl font-semibold; }
  h3 { @apply text-3xl font-semibold; }

  p {
    @apply text-base leading-relaxed;
  }

  a {
    @apply hover:brightness-200 text-xl p-1;
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center
           px-4 py-2 rounded-lg text-xl m-2
           font-medium cursor-pointer bg-accent text-black hover:brightness-90;;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center
           px-4 py-2 rounded-lg text-xl m-2 text-secondary
           font-medium cursor-pointer border border-secondary text-black hover:brightness-200;;
  }

  .input {
    @apply border border-secondary rounded px-2 py-1 text-xl bg-transparent hover:border-gray-300;
  }
}
